@charset "UTF-8";

header {
	height:80px;
	background-color:coral;
}

.main-menu {
	height:50px;
	background-color:coral;
}

.main-menu > .nav-item:hover {
	background-color:blue;
}

.contents {
	height:500px;
}

.contents > .goods {
	border-style:solid;
	border-color:coral;
	height:330px;
	width:360px;
	padding:10px;
}

img {
	width:100%
}

footer {
	height:100px;
}

.coral {
	color:coral;	
}